@import "tailwindcss";

:root {
  --background: #f3fcff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3fcff;
    --foreground: #000000;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), sans-serif;
}

.gradient-border {
  position: relative;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px; /* adjust if needed */
  padding: 1px; /* border thickness */
  background: linear-gradient(279.53deg, #24bdfe -1.01%, #2c7bdc 124.68%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.gradient-text {
  background: linear-gradient(266.66deg, #02a8da 14.3%, #014e9e 113.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.glassy-box {
  background: #051c4052;
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(175, 191, 247, 0.3);
}
